body {
  background-color: #e8e8e8;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); 
}

html, body, * {
  font-family: 'Montserrat' !important;
}

[class^="fa-"],
[class*=" fa-"],
.fas,
.far,
.fal,
.fab {
  font-family: 'FontAwesome' !important; 
}

.main-container {
  background-color: #cfcbcb;
  padding: 0 300px;
  z-index: 1000;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background-color: #2f5178;
  color: white;
  padding: 20px 180px;
  position: relative;
  z-index: 0;
  height: 170px;
  overflow: hidden;
  
}

.header::after {
  content: '';
  position: absolute;
  top: 100%;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 40px;
  pointer-events: none;
  z-index: 5 !important;
  
}

.header-shadow-layer {
  position: relative;
  z-index: 10;
  height: 0;
}

.header-shadow-layer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  box-shadow: 
     0 -2px 2px 1px rgba(0, 0, 0, 0.3),
  0 -1px 1px 1px rgba(0, 0, 0, 0.2),
  0 -1px 1px 1px rgba(0, 0, 0, 0.1);
}


.logo {
  display: flex;
  align-items: top;
  gap: 12px;
}

.logo-image{
  height: 85px;
  margin-top: -15px;
  margin-left: 210px;
}

.contact {
  font-weight: bold;
  font-size: 18px;
  margin-top: 35px;
  margin-right: 250px;
}

/* Navigation */
.nav {
  background-color: white;
  padding: 20px;
  margin-top: -61px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  width: 100%; 
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

/* Левая волна */
.nav::before,
.nav::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  
}

.nav::before {
  left: -40px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M80,0 C40,0 40,100 0,100 L80,100 Z" fill=\'white\'/>\</svg>');
}

.nav::after {
  right: -40px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M0,0 C40,0 40,100 80,100 L0,100 Z" fill=\'white\'/>\</svg>');
}


.nav-wrapper {
  z-index: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}



.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 54px;
  z-index: 2;
}

.nav li {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #2f5178;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav li.active {
  text-decoration: underline;
}

/* Carousel */
.v-overlay {
  border-radius: 8px;
}

.v-card {
  cursor: pointer;
  transition: all 0.3s;
}



.carousel-container {
  padding: 0 !important;
  border: 8px solid #aaa5a5;
  margin-bottom: 5px;
}

.carousel-item {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.info-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; 
  width: 50%;
  max-width: 50px; 
  margin-top: 325px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

.info-card::before,
.info-card::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.info-card::before {
  left: -70px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M80,0 C40,0 40,100 0,100 L80,100 Z" fill=\'white\'/>\</svg>');
}

.info-card::after {
  right: -70px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M0,0 C40,0 40,100 80,100 L0,100 Z" fill=\'white\'/>\</svg>');
}


.thumbnail-carousel {
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 5px;
}

.thumbnail-carousel .v-carousel__item {
  padding: 0 !important;
}

.thumb-card {
  cursor: pointer;
  border: 8px solid #aaa5a5 !important;
  padding: 0 !important;
  margin-top: 15px;
}

.thumb-card.active-thumb {
  border: 8px solid #fff !important;
}

.thumb-card:hover,
.thumb-card:focus {
  border-color: #2f5178;
}

.small-image {
  margin-right: 20px !important;
}


/* Search */
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none !important;
}

.search-card {
  height: 528px;
  border-radius: 0 !important;
  
}

.search-padding {
  padding: 0 30px !important;
}

.search-card .v-card-title {
  font-size: 1.1rem;
  padding-bottom: 18px;
  
}

.card-title {
  font-weight: bold !important;
  margin-left: -15px;
}

.search-card .v-select {
  margin-top: 5px;
}

.search-card .v-btn {
  margin-top: 10px;
}

.custom-title {
  font-size: 0.9rem !important;
  font-weight: 600;
  background-color: #636363;
  color: #ffffff;
  height: 60px;
  justify-content: center;
}

.custom-select {
  border-radius: 0 !important;
}

.custom-select .v-label {
  color: #0f0f0f;
}

.custom-btn {
  margin-top: -30px !important;
  font-weight: bold;
  margin-bottom: 15px;
}
.custom-btn.v-btn:not(.v-btn--disabled) {
  color: white !important;
  text-transform: capitalize !important;
}

.custom-btn-text {
  margin-top: -6px !important;
  font-size: 0.9rem !important;
}

.advanced-search {
  font-size: 0.9rem;
  color: #000000 !important;
  text-decoration: none;
  font-family: 'Montserrat-Regular';
  
  margin-left: 1px !important;
}

.advanced-search:hover {
  text-decoration: underline;
}

/* Login */
.login-card {
  padding: 5px;
  margin-bottom: 110px !important;
  border-radius: 0 !important;
}

.login-title {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 25px;
  margin-top: -10px;
  font-size: 1rem !important;
  font-weight: 600;
  color: #000000;
  opacity: 0.7;
  font-family: 'Montserrat-Regular';
  height: 60px;
}

.login-title::before,
.login-title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #979292;
}

.login-title::before {
  bottom: 4px; 
}

.login-title::after {
  bottom: 0; 
}

.text-right {
  margin-top: -20px;
  margin-bottom: 10px;
  margin-right: -60px;
}

.login-btn {
  font-weight: bold;
  margin-bottom: 10px;
  
}

.login-btn.v-btn:not(.v-btn--disabled) {
  color: white !important;
  text-transform: capitalize !important;
}

.forgot-password,
.create-account {
  font-size: 0.9rem;
  color: #2f5178;
  text-decoration: none;
  font-family: 'Montserrat-Regular';
}

.forgot-password:hover,
.create-account:hover {
  text-decoration: underline;
}

.field-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  margin-top: -10px;
  font-family: 'Montserrat-Regular';
}

.checkbox-label {
  margin-right: -20px !important;
}

.login-field {
  border-radius: 0 !important;
}

/* Cards */
.avatar-image {
border: 8px solid #f3dede;
}

.card-royal {
  height: 490px;
  margin-bottom: 5px;
  border-radius: 0 !important;
}

.card-support {
  height: 150px;
  margin-bottom: 21px;
  border-radius: 0 !important;
}
.card-friendly {
  height: 150px;
  margin-bottom: 21px;
  border-radius: 0 !important;
}
.card-code {
  height: 150px;
  border-radius: 0 !important;
}

.card-text {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: justify;
  margin-left: -15px;
}

.card-text-royal {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.icons-cards {
  margin-left: 5px;
  margin-top: 5px;
}

/* Feedback */
.feedback-card {
  padding: 5px;
  margin-top: -115px;
  margin-bottom: 20px;
  border-radius: 0 !important;
}

.feedback-title {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 25px;
  margin-top: -10px;
  font-size: 1rem !important;
  font-weight: 600;
  color: #000000;
  opacity: 0.7;
  font-family: 'Montserrat-Regular';
  height: 60px;
}

.feedback-title::before,
.feedback-title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #979292;
}

.feedback-title::before {
  bottom: 4px; 
}

.feedback-title::after {
  bottom: 0; 
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.indicators-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-indicators {
  display: flex;
  gap: 8px;
  margin-left: 10px;
}

.feedback-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  min-height: 100px;
  text-align: justify;
}

.author-info {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  font-size: 0.9rem;
  color: #333;
  flex-direction: column;
  text-align: right;
}

.author {
  font-weight: 500;
}

.role {
  color: #a88b06;
}

.round-button {
  background-color: white !important; 
  border-radius: 50% !important; 
  border: 1px solid #7a7373 !important;
  height: 35px !important;
  width: 35px !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Houseinfo */
.house-slider {
  padding: 20px;
}

.house-card-col {
  padding: 10px !important;
  margin-bottom: 5px;
  margin-top: -5px;
}

.house-card {
  transition: all 0.3s;
  height: 100%;
  border-radius: 0 !important;
}

.image-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
  color: #666;
 
}

.image-container {
  position: relative;
  height: 210px;
  overflow: hidden;
  border-radius: 0 !important;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
  border: 8px solid #f3dede !important;
}

.house-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px !important;
}

.hover-text p {
  margin-top: 6px;
  line-height: 0; 
  font-size: 13px;
  
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 43, 43, 0.884);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.house-card:hover .hover-text {
  opacity: 1;
}

.price-text {
  font-size: 1.2rem;
  font-weight: 800 !important;
  color: #ff4800 !important;
  padding: 0 !important;
  margin-top: 12px;
}

.full-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
}

.line {
  height: 1px;
  background-color: #ccc;
  width: 120px;
}

.bracket-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0 -4px;
}

.view-button {
  background: linear-gradient(to bottom, #e0e0e0 50%, #f0f0f0 50%);
  border: 1px solid #ccc;
  color: #0f376a;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 22px;
  z-index: 1;
  width: 130px;
  transition: all 0.3s ease;
}

.view-button:hover {
  
  box-shadow: none;
  
}

.view-button:hover span { 
  color: #0a4592; 
  transition: color 0.3s ease; 
}

.view-button::before {
  background-color: transparent !important;
}

.bracket {
  width: 16px;
  height: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
  transition: all 0.3s ease;
}

.left-bracket {
  margin-right: -2px;
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 40' preserveAspectRatio='none'>\<defs>\<linearGradient id='leftGradient' x1='0%' y1='0%' x2='0%' y2='100%'>\<stop offset='0%' style='stop-color:%23e0e0e0;' />\<stop offset='50%' style='stop-color:%23e0e0e0;' />\<stop offset='50%' style='stop-color:%23f0f0f0;' />\<stop offset='100%' style='stop-color:%23f0f0f0;' />\</linearGradient>\</defs>\<path d='M16,0 C10,5 10,15 4,20 C10,25 10,35 16,40' fill='url(%23leftGradient)' stroke='%23ccc' stroke-width='1'/>\</svg>");
  width: 16px;
  height: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
  transition: all 0.3s ease;
}

.right-bracket {
  margin-left: -2px;
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 40' preserveAspectRatio='none'>\<defs>\<linearGradient id='rightGradient' x1='0%' y1='0%' x2='0%' y2='100%'>\<stop offset='0%' style='stop-color:%23e0e0e0;' />\<stop offset='50%' style='stop-color:%23e0e0e0;' />\<stop offset='50%' style='stop-color:%23f0f0f0;' />\<stop offset='100%' style='stop-color:%23f0f0f0;' />\</linearGradient>\</defs>\<path d='M0,0 C6,5 6,15 12,20 C6,25 6,35 0,40' fill='url(%23rightGradient)' stroke='%23ccc' stroke-width='1'/>\</svg>");
  width: 16px;
  height: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
  transition: all 0.3s ease;
}







.dotted-lines {
  position: relative;
  height: 6px; 
  margin-top: 10px;
  margin-bottom: 2px;
}

.dotted-lines::before,
.dotted-lines::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #c5bdbd;
}

.dotted-lines::before {
  bottom: 4px;
}

.dotted-lines::after {
  bottom: 0;
}

.location-dot {
  margin-right: 5px;
}

.info-map {
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; 
  width: 30%;
  max-width: 50px; 
  padding: 10px;
  text-align: center;
  background-color: #f3dede !important;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px; 
}

.info-map::before,
.info-map::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.info-map::before {
  left: -17px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M80,0 C40,0 40,100 0,100 L80,100 Z" fill="%23f3dede"/>\</svg>');
}

.info-map::after {
  right: -17px;
  background-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" preserveAspectRatio="none">\<path d="M0,0 C40,0 40,100 80,100 L0,100 Z" fill="%23f3dede"/>\</svg>');
}

/* Calculator */
.input-row {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.calculate-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #333;
  margin-top: -25px;
  margin-right: 10px;
  width: 150px;
  text-align: right;
}

.calculator-card {
  padding: 5px;
  border-radius: 0 !important;
}

.calculate-field {
  border-radius: 0 !important;
}

/* Footer */
.footer-container {
  margin-top: 10px;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #696565;
  z-index: -1;
}

/* SliderCard */
.small-card {
  border: 6px solid #aaa5a5;
  transition: border 0.3s;
  margin-right: 11px;
}

.active-thumb {
  border-color: white;
}

.thumb-card {
  box-shadow: none;
  background-color: transparent;
}

.custom-image {
  border-radius: 0 !important; 
  margin: 0 !important; 
  padding: 0 !important; 
  width: 100%; 
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px; 
  position: relative;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.slider-label {
  font-size: 14px;
  color: #333;
}

.left-label {
  margin-left: -15px;
  margin-right: 15px
}

.right-label {
  margin-right: -15spx;
  margin-left: 20px;
}

.custom-slider {
  flex: 1; 
  margin: 0;
} 

.custom-slider .v-slider__track-container {
  height: 10px !important; 
  border-radius: 5px !important; 
}

.custom-slider .v-slider__track-fill {
  height: 10px !important;
  border-radius: 5px !important;
}

.custom-slider .v-slider__track-background {
  height: 10px !important;
  border-radius: 5px !important;
}

.v-slider__tick-label {
  display: none;
}

.custom-slider .v-slider__thumb {
  width: 20px !important; 
  height: 20px !important; 
  border-radius: 50% !important;
}

.custom-slider .v-slider__thumb::before {
 margin-left: 4px !important;
 margin-top: 3px !important;
}

.custom-select .v-input__append-inner {
  background-color: #aca8a8;
  height: 40px;
  width: 40px;
  margin-top: 0 !important;
  margin-right: -14px !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.custom-select .v-input__append-inner .v-icon {
  color: #ffffff; 
  font-size: 30px;
  margin-top: 15px;
  margin-right: 5px;
}

